@font-face {
    font-family: air;
    src: url(./sf-pro-text_regular.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:air;
}


html,body{
    height: 100%;
    width: 100%;
}


#nav{
    height: 40px;
    width: 100%;
    background-color: rgb(29, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#nav a{
    text-decoration-line: none;
    color: #fff;
}


#center{
    height: 90%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_small_2x.jpg);
    background-size: cover;
    background-position: center;

}

#center h1{
    font-size: 50px;
}

#center p{
    font-size: 30px;
    padding: 10px;
}


#link{
    padding: 5px;
}

#link button{
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 30px;
    background-color: blue;
    color: #fff;
}